#input {
    text-align: center;
}

#google {
    align-self: center;
    alignment: center;
    align-items: center;
    align-content: center;
    child-align: middle;
}

#abcRioButtonContentWrapper {
    align-self: center;
    alignment: center;
    align-items: center;
    align-content: center;
    child-align: middle;

}

ctec.g-signin2 {
    text-align: center;
    align-self: center;
    alignment: center;
    align-items: center;
    align-content: center;
    child-align: middle;
}